/* 전체 컨테이너 */
body {
    font-family: 'Work Sans', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

/* 상단바 */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 80px;
    background-color: #ffffff;
    border-bottom: 1px solid #e0e0e0;
}

/* 로고 스타일 */
.logo {
    text-decoration: none;
    color: #000;
    font-size: 24px;
    font-weight: bold;
}

/* 등록 버튼 스타일 */
.submit-btn {
    background-color: #6894FF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

/* Quill 툴바 구분선 */
#toolbar {
    background-color: #f1f1f1;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 0;
}

/* Quill 에디터 */
.editor {
    height: 300px;
    max-width: 800px;
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

/* 제목 입력 필드 스타일 */
.title-input {
    width: 100%;
    max-width: 800px;
    height: 40px;
    margin: 20px auto;
    padding: 0 10px;
    display: block;
    font-size: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
}
