/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-size: 16px; /* 글꼴 크기 기본값 */
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 컨테이너 스타일 */
.container {
  max-width: 800px;
  width: 600px;
  height: 650px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

/* 제목 스타일 */
#info {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #b0d4ff;
  border-radius: 8px;
}

/* 상세 정보 텍스트 스타일 */
.pet-detail p {
  font-size: 1.125rem;
  color: #555;
  margin-bottom: 10px;
}

/* 이미지 스타일 */
#pet-detail img {
  display: block;
  margin: 10px auto;
  border-radius: 10px;
  width: 300px;
  height: 300px;
  object-fit: cover;
  border: 2px solid #6894FF;
}

/* 버튼 스타일 */
#modify-btn, #delete-btn {
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  background-color: #6894FF;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 15px;
  margin-right: 10px;
  transition: background-color 0.3s;
}

#modify-btn:hover, #delete-btn:hover {
  background-color: #5182FF;
}

.response-message {
  margin-top: 20px;
  font-size: 1rem;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: #ffffff;
  padding: 15px;
  border-top: 1px solid #ddd;
  color: #777;
}

/* 반응형 디자인 */
@media (max-width: 768px) {
  .container {
    width: 90%;
    height: auto;
  }

  #pet-detail img {
    width: 200px;
    height: 200px;
  }
}