/* 기본 스타일 */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  text-align: center;
}

h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
  background-color: #b0d4ff;
  padding: 10px;
  border-radius: 8px;
}

.pet-item {
  border: 1px solid #ddd;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
  background-color: #ffffff;
  text-align: left;
}

.pet-item img {
  display: block;
  margin: 10px auto;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.detail-btn {
  padding: 5px 10px;
  background-color: #6894FF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.detail-btn:hover {
  background-color: #5182FF;
}

.register-btn {
  padding: 10px 20px;
  background-color: #6894FF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.register-btn:hover {
  background-color: #5182FF;
}

.login-required {
  text-align: center;
}
